# Visual Studio
.vs/

# Build results
bin/
obj/

# User-specific files
*.user
*.suo

# Visual Studio cache
*.cache

# Publish folders
app.publish/
publish/

# Logs
*.log

# NuGet
packages/

# Rider
.idea/

# VS Code
.vscode/