<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <ApplicationRevision>10</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://bpa.com.es/legalia/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <ManifestCertificateThumbprint>C40D10BF4C319AF46720AB752634DBE54592AB2D</ManifestCertificateThumbprint>
    <ManifestKeyFile>Presentacion_TemporaryKey.pfx</ManifestKeyFile>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows\app.publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <UpdateUrl>https://bpa.com.es/legalia/</UpdateUrl>
    <History>True|2026-07-02T08:52:06.5867901Z||;True|2026-06-29T03:35:46.5787070-06:00||;True|2026-06-28T21:40:13.0839120-06:00||;True|2026-06-22T02:27:58.0782752-06:00||;True|2026-06-22T02:22:43.7500921-06:00||;False|2026-06-15T19:33:25.1769385-06:00||;True|2026-05-15T07:28:30.0677256-06:00||;True|2026-05-04T13:41:30.7171022-06:00||;True|2026-05-04T12:48:04.3716255-06:00||;True|2026-04-29T16:09:39.5839055-06:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.8.0.x64">
      <Install>true</Install>
      <ProductName>Entorno de ejecución de escritorio de .NET 8.0.25 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>